<template>
  <app-pokemon-teams />
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'TeamsPage',
  setup() {}
})
</script>
