<template>
  <div class="flex flex-1 flex-col max-h-screen overflow-y-scroll">
    <base-card
      v-for="team in teamList"
      :key="team.id"
      class="items-center gap-4 mb-4"
    >
      <app-pokemon-teams-detail :team="team" />
    </base-card>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, useStore } from '@nuxtjs/composition-api'

import type { TeamStoreState } from '~/types/team'

export default defineComponent({
  name: 'PokemonTeamsListComponent',
  setup() {
    const store = useStore<TeamStoreState>()

    const teamList = computed(() => store.state.teams.teamList)
    return {
      teamList
    }
  }
})
</script>
