<template>
  <div :class="$attrs.class">
    <h1 v-if="title" class="text-2xl mb-4 font-bold">{{ title }}</h1>
    <form class="mb-4" @submit="(e) => e.preventDefault()">
      <input
        :value="filterModel"
        class="p-2 border rounded w-full"
        placeholder="Seach Pokemon Here"
        @input="filterAction"
      />
    </form>
    <div class="flex-1 overflow-y-scroll">
      <client-only>
        <div
          v-if="filteredFavoritesList.length"
          class="flex gap-2 flex-wrap justify-center"
        >
          <base-card
            v-for="(pokemon, index) in filteredFavoritesList"
            :key="`favorites-${pokemon.name}-${index}`"
            class="flex-col items-center justify-center gap-2"
          >
            <nuxt-img :src="getImage(pokemon.url)" :alt="pokemon.name" />
            <p class="capitalize">
              <strong>{{ pokemon.name }}</strong>
            </p>
            <app-favorites-list-action :pokemon="pokemon" />
          </base-card>
        </div>
        <div v-else>
          <p>Pokemon is not found on favorite</p>
        </div>
      </client-only>
    </div>
    <small v-if="errorMessage" class="text-[#ff0000]">{{ errorMessage }}</small>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  useStore
} from '@nuxtjs/composition-api'

import type { PokemonStoreState, Pokemon } from 'types/pokemon'
import type { TeamStoreState } from '~/types/team'
import type { FavoriteStoreState } from '~/types/favorite'

import { getImage } from '~/utils/image'
import { getPokemonId } from '~/utils/pokemon'

export default defineComponent({
  name: 'FavoritesListComponent',
  props: {
    title: {
      default: '',
      type: String
    }
  },
  setup() {
    const store = useStore<
      PokemonStoreState & TeamStoreState & FavoriteStoreState
    >()

    const favoritesList = computed(() => store.state.favorites.favoriteList)

    const filterByNameAndId = (pokemon: Pokemon): boolean => {
      return (
        pokemon.name?.includes(filterModel.value) ||
        filterModel.value === getPokemonId(pokemon.url || '')
      )
    }

    // Start of handling filter of the page
    const filterModel = ref('')
    const filterAction = (e: any) => {
      filterModel.value = e.target?.value
    }
    const filteredFavoritesList = computed(() =>
      filterModel.value
        ? favoritesList.value.filter((pokemon: Pokemon) =>
            filterByNameAndId(pokemon)
          )
        : favoritesList.value
    )
    // End of handling filter of the page

    const errorMessage = ref('')
    const setErrorMessage = (message: string) => {
      errorMessage.value = message
    }

    return {
      filterAction,
      filterModel,
      filteredFavoritesList,
      getImage,
      filterByNameAndId,
      favoritesList,
      errorMessage,
      setErrorMessage
    }
  }
})
</script>
