<template>
  <div>
    <trash-icon
      tabindex="0"
      class="text-red-600 hover:cursor-pointer"
      @keydown.enter="open = true"
      @click="open = true"
    />
    <base-modal :show="open" title="Delete Team" @close="open = false">
      <p class="mb-4">
        Are you sure want to delete team <strong>{{ team.name }}</strong
        >?
      </p>
      <hr class="mb-4" />
      <div class="flex gap-2">
        <base-button @click="open = false">Cancel</base-button>
        <base-button class="btn-error text-white" @click="handleDelete">
          Delete
        </base-button>
      </div>
    </base-modal>
  </div>
</template>

<script lang="ts">
import { TrashIcon } from '@vue-hero-icons/solid'
import {
  defineComponent,
  ref,
  useStore,
  PropType
} from '@nuxtjs/composition-api'

import type { TeamStoreState, Team } from '~/types/team'

type TeamType = {
  team: Team
}

export default defineComponent<TeamType>({
  name: 'PokemonTeamsDeleteTeamComponent',
  components: { TrashIcon },
  props: {
    team: {
      default: () => ({}),
      type: Object as PropType<Team>
    }
  },
  setup(props) {
    const store = useStore<TeamStoreState>()

    const open = ref(false)

    const handleDelete = () => {
      store.commit('pokemon/SYNC_TEAM_NAME', {
        oldName: props.team.name
      })
      store.commit('teams/REMOVE_TEAM', props.team.name)
      open.value = false
    }
    return {
      open,
      handleDelete
    }
  }
})
</script>
