<template>
  <section class="flex flex-1 flex-col items-start gap-4">
    <app-pokemon-teams-list-header :team="team" />
    <div class="flex gap-2">
      <div v-if="pokemonList.length > 0" class="flex gap-2">
        <div
          v-for="(pokemon, index) in pokemonList"
          :key="`${team.name}-${index}`"
          tabindex="0"
          class="flex border rounded-xl xs:p-0 md:p-4 hover:cursor-pointer"
          @click="addPokemon(team.name)"
          @keyup.enter="addPokemon(team.name)"
        >
          <img rel="preload" :src="getImage(pokemon.url)" :alt="pokemon.name" />
        </div>
      </div>
      <div v-if="pokemonList.length < 6" class="flex gap-2">
        <base-card
          tabindex="0"
          class="items-center hover:cursor-pointer"
          @click.native="addPokemon(team.name)"
          @keyup.enter.native="addPokemon(team.name)"
        >
          Add Pokemon
        </base-card>
      </div>
    </div>
    <base-modal title="Add Pokemon" :show="open" @close="open = false">
      <app-pokemon-list
        :current-team-name="team.name"
        class="flex flex-1 flex-col max-h-[450px] overflow-y-hidden"
      />
    </base-modal>
  </section>
</template>

<script lang="ts">
import {
  ref,
  computed,
  defineComponent,
  useStore,
  watch,
  PropType
} from '@nuxtjs/composition-api'

import type { PokemonStoreState } from '~/types/pokemon'
import type { TeamStoreState, Team } from '~/types/team'

import { getImage } from '~/utils/image'

type TeamType = {
  team: Team
}

export default defineComponent<TeamType>({
  name: 'PokemonTeamsDetailComponent',
  props: {
    team: {
      default: () => ({}),
      type: Object as PropType<Team>
    }
  },
  setup(props) {
    const store = useStore<PokemonStoreState & TeamStoreState>()
    const maxPokemon = ref(6)

    // Handle open modal
    const open = ref(false)
    watch(open, (currentValue) => {
      if (!currentValue) {
        store.commit('teams/SET_SELECTED_TEAM', '')
      }
    })

    // Handle toggle open modal
    const toggleOpen = () => (open.value = !open.value)

    // Handle the pokemon that will be shown on pokemon team
    const currentTeamName = computed(() => props.team.name)
    const pokemonList = computed(() =>
      store.state.pokemon.pokemonList.filter((pokemon) =>
        pokemon.teamNames
          ? pokemon.teamNames.includes(currentTeamName.value)
          : false
      )
    )

    // Handle current selected team that will be used when adding pokemon to team
    const addPokemon = (name: string) => {
      store.commit('teams/SET_SELECTED_TEAM', name)
      toggleOpen()
    }

    return {
      open,
      addPokemon,
      maxPokemon,
      pokemonList,
      getImage
    }
  }
})
</script>
