<template>
  <div class="flex flex-1 items-center flex-col justify-center">
    <base-button @click="() => removeFromFavorites(pokemon)">
      Remove from Favorites
    </base-button>
  </div>
</template>

<script lang="ts">
import { defineComponent, useStore, PropType } from '@nuxtjs/composition-api'

import type { PokemonStoreState, Pokemon } from 'types/pokemon'

type PropsType = {
  pokemon: Pokemon
  currentTeamName: string
}

export default defineComponent<PropsType>({
  name: 'FavoritesListAction',
  props: {
    pokemon: {
      default: () => ({}),
      type: Object as PropType<Pokemon>
    }
  },
  setup() {
    const store = useStore<PokemonStoreState>()

    const removeFromFavorites = (pokemon: Pokemon): void => {
      store.commit('favorites/UPDATE_FAVORITE', pokemon)
    }

    return {
      removeFromFavorites
    }
  }
})
</script>
