<template>
  <client-only>
    <!-- <Portal to="modal"> -->
    <div
      ref="modal"
      :class="['modal', { ...getVisibility }]"
      role="dialog"
      aria-modal="true"
      :aria-labelledby="title"
      :aria-hidden="show ? 'false' : 'true'"
      tabindex="-1"
      @click="toggleVisibility"
    >
      <div
        ref="modal-box"
        :class="[
          'modal-box',
          'relative',
          ...additionalClass,
          { ...getVisibility }
        ]"
      >
        <button
          class="btn btn-sm btn-circle absolute right-4 top-4"
          @click="$emit('close')"
        >
          ✕
        </button>
        <h2 :id="title" class="text-xl mb-4 font-bold">{{ title }}</h2>
        <hr class="mb-4" />
        <slot />
      </div>
    </div>
    <!-- </Portal> -->
  </client-only>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  watch,
  ref,
  nextTick,
  onMounted,
  onUnmounted
} from '@nuxtjs/composition-api'

import { trapFocus } from '~/utils/trap-focus'

export default defineComponent({
  name: 'BaseModal',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    additionalClass: {
      type: String,
      default: ''
    }
  },
  setup(props, context) {
    const modal = ref<HTMLDivElement | null>(null)

    const getVisibility = computed(() => {
      return {
        visible: props.show,
        'opacity-100': props.show,
        'pointer-events-auto': props.show
      }
    })

    // Make the focus to be only inside modal
    const currentShow = computed(() => props.show)
    watch(currentShow, async (currentValue) => {
      await nextTick()
      if (currentValue && modal?.value) {
        trapFocus(modal.value)
        modal.value.querySelector('input')?.focus()
      } else {
        trapFocus(modal.value, 'removeEvent')
      }
    })

    const toggleVisibility = (event: any) => {
      if (event.target === modal.value) {
        context.emit('close')
      }
    }

    // Handle on preessing esc.
    // If button esc is pressed, the modal will be hidden
    const detectEscape = (event: any) => {
      if (event.key === 'Escape') {
        context.emit('close')
      }
    }
    onMounted(() => {
      document.addEventListener('keydown', detectEscape)
    })
    onUnmounted(() => {
      document.removeEventListener('keydown', detectEscape)
    })

    return { getVisibility, toggleVisibility, modal }
  }
})
</script>
