<template>
  <div class="navbar flex justify-between bg-blue-900">
    <nuxt-link to="/">
      <nuxt-img src="/logo-pokemon.png" provider="static" height="48" />
    </nuxt-link>
    <div class="xs:hidden md:flex flex-1 justify-end gap-4">
      <nuxt-link
        v-for="menu in menus"
        :key="`navbar-desktop-${textToDashCase(menu.label)}`"
        :to="menu.href"
      >
        <label tabindex="0" class="btn btn-ghost text-white capitalize">
          {{ menu.label }}
        </label>
      </nuxt-link>
    </div>
    <div class="xs:flex md:hidden flex-1 justify-end gap-8">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <menu-icon class="text-white" />
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box w-52 bg-blue-900"
        >
          <li
            v-for="menu in menus"
            :key="`navbar-mobile-${textToDashCase(menu.label)}`"
          >
            <nuxt-link :to="menu.href" class="text-white">{{
              menu.label
            }}</nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { MenuIcon } from '@vue-hero-icons/solid'
import { defineComponent, ref } from '@nuxtjs/composition-api'
import { textToDashCase } from '~/utils/string'

export default defineComponent({
  name: 'NavbarComponent',
  components: { MenuIcon },
  setup() {
    const menus = ref([
      {
        label: 'Your Teams',
        href: '/teams'
      },
      {
        label: 'Your Favorites',
        href: '/favorites'
      },
      {
        label: 'Pokemon List',
        href: '/lists'
      }
    ])

    return {
      menus,
      textToDashCase
    }
  }
})
</script>
