<template>
  <div :class="$attrs.class">
    <h1 v-if="title" class="text-2xl mb-4 font-bold">{{ title }}</h1>
    <form class="mb-4" @submit="(e) => e.preventDefault()">
      <input
        :value="filterModel"
        class="p-2 border rounded w-full"
        placeholder="Seach Pokemon By Name or ID Here"
        @input="filterAction"
      />
    </form>
    <client-only>
      <div class="flex-1 overflow-y-scroll">
        <div
          v-if="filteredPokemonList.length"
          class="grid xs:grid-cols-1 md:grid-cols-2 gap-2"
        >
          <base-card
            v-for="(pokemon, index) in filteredPokemonList.slice(
              (currentPage - 1) * perPage,
              (currentPage - 1) * perPage + perPage
            )"
            :key="
              currentTeamName
                ? `${currentTeamName}-${pokemon.name}-${index}`
                : `${pokemon.name}-${index}`
            "
            class="items-center justify-center"
          >
            <app-pokemon-list-detail
              :pokemon="pokemon"
              :load-detail="loadDetail"
              @setErrorMessage="setErrorMessage"
            >
              <slot :pokemon="pokemon">
                <app-pokemon-list-default-actions
                  :pokemon="pokemon"
                  :current-team-name="currentTeamName"
                  @error="setErrorMessage"
                />
              </slot>
            </app-pokemon-list-detail>
          </base-card>
        </div>
        <div v-else>
          <p>Pokemon is not found</p>
        </div>
      </div>
    </client-only>
    <small v-if="errorMessage" class="text-[#ff0000]">{{ errorMessage }}</small>
    <base-pagination
      class="mt-4"
      :current-page="currentPage"
      :total-page="filteredPokemonList.length / 10"
      :per-page="10"
      @prev-page="prevPageAction"
      @next-page="nextPageAction"
    />
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  useStore
} from '@nuxtjs/composition-api'

import type { PokemonStoreState, Pokemon } from 'types/pokemon'
import type { TeamStoreState } from '~/types/team'

import { getImage } from '~/utils/image'
import { getPokemonId } from '~/utils/pokemon'

export default defineComponent({
  name: 'PokemonListComponent',
  props: {
    title: {
      default: '',
      type: String
    },
    currentTeamName: {
      default: null,
      type: String || Number
    },
    loadDetail: {
      default: false,
      type: Boolean
    }
  },
  setup(props) {
    const store = useStore<PokemonStoreState & TeamStoreState>()
    const { currentTeamName } = props

    const pokemonList = computed(() => {
      const currentPokemonList = [...store.state.pokemon.pokemonList]
      if (currentTeamName) {
        return currentPokemonList.sort((pokemonA, pokemonB) => {
          // If there is no teamName on the pokemon, it will be translated to empty string
          const nameA = pokemonA.teamNames ? pokemonA.teamNames : []
          const nameB = pokemonB.teamNames ? pokemonB.teamNames : []

          // Sort the pokemon using teamName
          // The pokemon with teamName will be loaded first
          // String of teamName will always be bigger than empty string
          // To make the teamName appear first, the item will be sorted descendingly
          if (
            nameA.includes(currentTeamName) < nameB.includes(currentTeamName)
          ) {
            return 1
          }
          if (
            nameA.includes(currentTeamName) > nameB.includes(currentTeamName)
          ) {
            return -1
          }
          return 0
        })
      }
      return currentPokemonList
    })
    const isPokemonShown = (pokemon: Pokemon): boolean => {
      return (
        pokemon.name?.includes(filterModel.value.toLowerCase()) ||
        filterModel.value === getPokemonId(pokemon.url || '')
      )
    }

    // Start of handling filter of the page
    const filterModel = ref('')
    const filterAction = (e: any) => {
      filterModel.value = e.target?.value
      currentPage.value = 1
    }
    const filteredPokemonList = computed(() =>
      filterModel.value
        ? pokemonList.value.filter((pokemon: Pokemon) =>
            isPokemonShown(pokemon)
          )
        : pokemonList.value
    )
    // End of handling filter of the page

    // Start of handling pagination of the page
    const currentPage = ref<number>(1)
    const perPage = ref<number>(10)
    const totalPage = Math.ceil(filteredPokemonList?.value?.length / 10)

    const prevPageAction = (): void => {
      if (currentPage.value > 1) {
        currentPage.value -= 1
      }
    }
    const nextPageAction = (): void => {
      if (currentPage.value <= totalPage) {
        currentPage.value += 1
      }
    }
    // End of handling pagination of the page

    const errorMessage = ref('')
    const setErrorMessage = (message: string) => {
      errorMessage.value = message
    }

    return {
      filterAction,
      filterModel,
      filteredPokemonList,
      getImage,
      isPokemonShown,
      pokemonList,
      currentPage,
      perPage,
      totalPage,
      prevPageAction,
      nextPageAction,
      errorMessage,
      setErrorMessage
    }
  }
})
</script>
