<template>
  <div
    class="flex flex-col max-h-screen overflow-y-hidden p-4"
    :style="{ maxHeight: 'calc(100vh - 64px)' }"
  >
    <h1 class="text-2xl mb-4 font-bold">Your Teams</h1>
    <app-pokemon-teams-list />
    <div>
      <base-button class="flex" @click="open = !open">
        <plus-circle-icon />
        <span class="ml-2">Create Team</span>
      </base-button>
      <base-modal :show="open" title="Create Team" @close="open = false">
        <form @submit="submitAction">
          <div class="mb-4">
            <label class="text-lg mb-2" for="pokemon-teams__team-name"
              >Team's Name</label
            >
            <input
              id="pokemon-teams__team-name"
              ref="input"
              :value="teamNameModel"
              class="p-2 border rounded w-full"
              placeholder="Enter Your Team's Name"
              @input="teamNameAction"
            />
            <small v-if="errorMessage" class="text-[#ff0000] mb-4">{{
              errorMessage
            }}</small>
          </div>
          <hr class="mb-4" />
          <div class="flex">
            <base-button class="flex mr-2" type="button" @click="open = !open">
              Cancel
            </base-button>
            <base-button class="flex text-white bg-black" type="submit">
              Create Team
            </base-button>
          </div>
        </form>
      </base-modal>
    </div>
  </div>
</template>

<script lang="ts">
import {
  ref,
  defineComponent,
  nextTick,
  useStore,
  watch,
  computed
} from '@nuxtjs/composition-api'
import { PlusCircleIcon } from '@vue-hero-icons/solid'

import type { TeamStoreState } from '~/types/team'

export default defineComponent({
  name: 'PokemonTeamsComponent',
  components: {
    PlusCircleIcon
  },
  setup() {
    const store = useStore<TeamStoreState>()
    const input = ref<HTMLInputElement | null>(null)

    const teamList = computed(() => store.state.teams.teamList)

    const open = ref(false)
    const errorMessage = ref('')

    watch(open, async (currentValue) => {
      if (currentValue && input.value) {
        await nextTick()
        input.value?.focus()
      }
    })

    const teamNameModel = ref('')
    const teamNameAction = (e: any) => {
      teamNameModel.value = e.target?.value
    }

    const createTeam = (): void => {
      const name = teamNameModel.value
      const isNameExist = teamList.value.find((team) => team.name === name)
      if (isNameExist) {
        errorMessage.value = 'Name already exist! Use another name.'
      } else {
        errorMessage.value = ''
        open.value = false
        store.commit('teams/SET_TEAM', {
          name,
          pokemonIds: []
        })
        teamNameModel.value = ''
      }
    }

    const submitAction = (e: any): void => {
      e.preventDefault()
      createTeam()
    }

    return {
      errorMessage,
      input,
      open,
      teamNameAction,
      teamNameModel,
      createTeam,
      submitAction
    }
  }
})
</script>
