<template>
  <div class="flex flex-1 min-w-full mb-2 gap-2">
    <div class="flex-1">
      <form v-if="editState" class="flex flex-col" @submit="handleSubmit">
        <div class="flex flex-col gap-2">
          <input
            ref="inputTitle"
            v-model="inputTitleModel"
            class="text-lg p-2 border rounded w-full"
            @keydown.esc="resetInput"
          />
        </div>
        <small v-if="errorMessage" class="text-[#ff0000] mb-4">{{
          errorMessage
        }}</small>
      </form>
      <p v-else class="text-lg border border-transparent font-bold">
        {{ team.name }}
      </p>
    </div>
    <pencil-alt-icon
      tabindex="0"
      class="hover:cursor-pointer mt-1"
      @keydown.enter="toggleEditState()"
      @click="toggleEditState()"
    />
    <app-pokemon-teams-delete-team :team="team" class="mt-1" />
  </div>
</template>

<script lang="ts">
import { PencilAltIcon } from '@vue-hero-icons/solid'
import {
  ref,
  computed,
  defineComponent,
  useStore,
  watch,
  nextTick,
  PropType
} from '@nuxtjs/composition-api'

import type { PokemonStoreState } from '~/types/pokemon'
import type { TeamStoreState, Team } from '~/types/team'

type TeamType = {
  team: Team
}

export default defineComponent<TeamType>({
  name: 'PokemonTeamsListHeaderComponent',
  components: { PencilAltIcon },
  props: {
    team: {
      default: () => ({}),
      type: Object as PropType<Team>
    }
  },
  setup(props) {
    const store = useStore<PokemonStoreState & TeamStoreState>()
    const teamList = computed(() => store.state.teams.teamList)
    const editState = ref(false)
    const inputTitle = ref<HTMLInputElement | null>(null)
    const inputTitleModel = ref(props.team.name)
    watch(editState, async (currentValue) => {
      await nextTick()
      if (currentValue && inputTitle.value) {
        inputTitle.value.focus()
      }
    })

    // Handle change name of the team
    const errorMessage = ref('')
    const resetInput = () => {
      inputTitleModel.value = props.team.name
      editState.value = false
      errorMessage.value = ''
    }
    const toggleEditState = () => {
      editState.value = !editState.value
      inputTitleModel.value = props.team.name
      errorMessage.value = ''
    }
    const handleSubmit = (e: any) => {
      e.preventDefault()
      const isNameExist = teamList.value.find(
        (team) => team.name === inputTitleModel.value
      )
      if (isNameExist && props.team.name !== inputTitleModel.value) {
        errorMessage.value = 'Name already exist! Use another name.'
      } else {
        // If the team is changed, the pokemon teamNamea needs to be changed too
        store.commit('pokemon/SYNC_TEAM_NAME', {
          oldName: props.team.name,
          newName: inputTitleModel.value
        })
        store.commit('teams/UPDATE_TEAM_NAME', {
          oldName: props.team.name,
          newName: inputTitleModel.value
        })
        resetInput()
      }
    }

    return {
      editState,
      errorMessage,
      inputTitle,
      inputTitleModel,
      handleSubmit,
      resetInput,
      toggleEditState
    }
  }
})
</script>
