<template>
  <div
    class="flex flex-col max-h-screen overflow-y-hidden p-4"
    :style="{ maxHeight: 'calc(100vh - 64px)' }"
  >
    <h1 class="text-2xl mb-4 font-bold">Favorites Pokemon</h1>
    <app-favorites-list
      class="flex flex-1 flex-col max-h-screen overflow-y-hidden"
      :style="{ maxHeight: 'calc(100vh - 64px)' }"
    />
    <div class="pt-4">
      <base-button class="flex" @click="open = !open">
        <plus-circle-icon />
        <span class="ml-2">Add to Favorites</span>
      </base-button>
      <base-modal title="Add to Favorites" :show="open" @close="open = false">
        <app-pokemon-list
          class="flex flex-1 flex-col max-h-[500px] overflow-y-hidden"
        >
          <template #default="{ pokemon }">
            <div class="flex items-self-center flex-col justify-between ml-2">
              <base-button @click="addToFavorites(pokemon)">{{
                getBtnCopy(pokemon)
              }}</base-button>
            </div>
          </template>
        </app-pokemon-list>
      </base-modal>
    </div>
  </div>
</template>

<script lang="ts">
import {
  ref,
  defineComponent,
  nextTick,
  useStore,
  watch,
  computed
} from '@nuxtjs/composition-api'
import { PlusCircleIcon } from '@vue-hero-icons/solid'

import type { Pokemon } from '~/types/pokemon'
import type { TeamStoreState } from '~/types/team'
import type { FavoriteStoreState } from '~/types/favorite'

export default defineComponent({
  name: 'FavoritesComponent',
  components: {
    PlusCircleIcon
  },
  setup() {
    const store = useStore<TeamStoreState & FavoriteStoreState>()
    const input = ref<HTMLInputElement | null>(null)

    const favoriteList = computed(() => store.state.favorites.favoriteList)

    const open = ref(false)
    const errorMessage = ref('')

    watch(open, async (currentValue) => {
      if (currentValue && input.value) {
        await nextTick()
        input.value?.focus()
      }
    })

    const getBtnCopy = (pokemon: Pokemon) => {
      const isPokemonExist = favoriteList.value.find(
        (currentPokemon) => currentPokemon.name === pokemon.name
      )
      return isPokemonExist ? 'Remove from Favorites' : 'Add to Favorites'
    }

    const teamNameModel = ref('')
    const teamNameAction = (e: any) => {
      teamNameModel.value = e.target?.value
    }

    const addToFavorites = (pokemon: Pokemon) => {
      store.commit('favorites/UPDATE_FAVORITE', pokemon)
    }

    return {
      errorMessage,
      input,
      open,
      favoriteList,
      teamNameAction,
      teamNameModel,
      addToFavorites,
      getBtnCopy
    }
  }
})
</script>
