<template>
  <div
    v-if="loadDetail && pokemonDetail"
    class="flex flex-col items-center justify-center gap-2"
  >
    <div class="flex flex-col items-center justify-center gap-2">
      <nuxt-img :src="getArtworkImage(pokemon.url)" :alt="pokemon.name" />
      <p class="capitalize">
        <strong>{{ pokemon.name }} (ID: {{ pokemonDetail.id }})</strong>
      </p>
      <div class="flex gap-2">
        <div
          v-for="type in pokemonDetail.types"
          :key="`pokemon-detail-stat-${type.type.name}`"
        >
          <p class="border rounded-lg p-2">
            <strong>{{ capitalize(type.type.name) }}</strong>
          </p>
        </div>
      </div>
      <slot />
    </div>
    <div class="grid grid-cols-1 justify-center gap-4 mb-8">
      <div
        v-for="stat in pokemonDetail.stats"
        :key="`pokemon-detail-stat-${stat.stat.name}`"
      >
        <p class="mb-1">
          <strong>{{ dashCaseToTitleCase(stat.stat.name) }}</strong>
          <span> ({{ stat.base_stat }})</span>
        </p>
        <div class="flex gap-2">
          <progress class="progress w-56" :value="stat.base_stat" max="100" />
        </div>
      </div>
    </div>
  </div>

  <div v-else class="flex flex-col items-center justify-center gap-2">
    <nuxt-img :src="getImage(pokemon.url)" :alt="pokemon.name" />
    <p class="capitalize">
      <strong>{{ pokemon.name }} (ID: {{ getPokemonId(pokemon.url) }})</strong>
    </p>
    <slot />
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import {
  computed,
  defineComponent,
  ref,
  onBeforeMount,
  PropType
} from '@nuxtjs/composition-api'

import { API_URL } from '~/utils/constant'

import { getArtworkImage, getImage } from '~/utils/image'
import { getPokemonId } from '~/utils/pokemon'
import { capitalize, dashCaseToTitleCase } from '~/utils/string'

import type { Pokemon } from 'types/pokemon'

type PropsType = {
  pokemon: Pokemon
  loadDetail: boolean
}

export default defineComponent<PropsType>({
  name: 'PokemonListDetailComponent',
  props: {
    pokemon: {
      default: () => ({}),
      type: Object as PropType<Pokemon>
    },
    loadDetail: {
      default: false,
      type: Boolean
    }
  },
  setup(props, context) {
    const errorMessage = ref('')
    const setErrorMessage = (message: string) => {
      errorMessage.value = message
      context.emit('setErrorMessage', errorMessage)
    }
    const pokemonId = computed(() =>
      props.pokemon.url ? getPokemonId(props.pokemon.url) : null
    )

    const pokemonDetail = ref(null)

    onBeforeMount(async () => {
      if (props.loadDetail && pokemonId.value) {
        const { data } = await axios.get<any>(
          `${API_URL}/pokemon/${pokemonId.value}`
        )
        pokemonDetail.value = data
      }
    })

    return {
      getArtworkImage,
      getImage,
      getPokemonId,
      capitalize,
      dashCaseToTitleCase,
      setErrorMessage,
      pokemonId,
      pokemonDetail
    }
  }
})
</script>
