<template>
  <app-favorites />
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'FavoritesPage',
  setup() {}
})
</script>
