<template>
  <div>
    <base-navbar />
    <div
      class="flex flex-col justify-between max-w-[1440px] mx-auto"
      :style="{ height: 'calc(100vh - 64px)' }"
    >
      <main class="flex flex-col flex-1">
        <Nuxt />
      </main>
    </div>
    <client-only>
      <PortalTarget name="modal" />
    </client-only>
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import {
  computed,
  defineComponent,
  useFetch,
  useStore
} from '@nuxtjs/composition-api'

import { API_URL } from '~/utils/constant'
import type { PokemonStoreState } from 'types/pokemon'

export default defineComponent({
  name: 'DefaultLayout',
  setup() {
    const store = useStore<PokemonStoreState>()
    const pokemonListNew = computed(() => store.state.pokemon.pokemonList)

    useFetch(async () => {
      if (!pokemonListNew || pokemonListNew?.value.length <= 0) {
        const { data: pokemonList } = await axios.get<any>(
          `${API_URL}/pokemon?limit=1000`
        )
        store.dispatch('pokemon/setPokemonList', pokemonList)
      }
    })
  }
})
</script>
