<template>
  <div class="flex flex-col">
    <p class="capitalize">Pokemon Name:</p>
    <p class="capitalize">
      <strong>{{ pokemon.name }}</strong>
    </p>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'

import type { Pokemon } from 'types/pokemon'

type PropsType = {
  pokemon: Pokemon
}

export default defineComponent<PropsType>({
  name: 'FavoritesDetail',
  props: {
    pokemon: {
      default: () => ({}),
      type: Object as PropType<Pokemon>
    }
  },
  setup() {}
})
</script>
