<template>
  <div
    class="flex flex-1 flex-col max-h-screen overflow-y-hidden p-4 text-center"
  >
    <h1 class="text-4xl font-bold mt-4 mb-8">Welcome!</h1>
    <div class="flex gap-2 mx-auto">
      <nuxt-link to="/teams">
        <base-card class="justify-center">
          <div class="flex flex-col justify-center items-center gap-2">
            <nuxt-img src="/teams.png" provider="static" height="120" />
            <p class="flex-1 text-center text-lg font-bold">Your Teams</p>
          </div>
        </base-card>
      </nuxt-link>
      <nuxt-link to="/favorites">
        <base-card class="justify-center">
          <div class="flex flex-col justify-center items-center gap-2">
            <nuxt-img src="/favorites.png" provider="static" height="120" />
            <p class="flex-1 text-center text-lg font-bold">Your Favorites</p>
          </div>
        </base-card>
      </nuxt-link>
    </div>
    <div class="flex gap-2 mx-auto mt-2">
      <nuxt-link to="/lists">
        <base-card class="justify-center">
          <div class="flex flex-col justify-center items-center gap-2">
            <nuxt-img src="/lists.png" provider="static" height="120" />
            <p class="flex-1 text-center text-lg font-bold">Pokemon List</p>
          </div>
        </base-card>
      </nuxt-link>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'IndexPage',
  setup() {}
})
</script>
