<template>
  <div class="flex border rounded-xl p-4">
    <slot />
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'CardComponent'
})
</script>
