<template>
  <div class="flex gap-2">
    <base-button :disabled="currentPage === 1" name="prev" @click="prevPage">
      Prev
    </base-button>
    <base-button
      :disabled="currentPage >= totalPage"
      name="next"
      @click="nextPage"
    >
      Next
    </base-button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'BasePaginationComponent',
  props: {
    currentPage: {
      default: 1,
      type: Number
    },
    totalPage: {
      default: 100,
      type: Number
    },
    perPage: {
      default: 10,
      type: Number
    }
  },
  setup(_, context) {
    const prevPage = () => {
      context.emit('prev-page')
    }

    const nextPage = () => {
      context.emit('next-page')
    }

    return {
      prevPage,
      nextPage
    }
  }
})
</script>
