<template>
  <div
    class="flex flex-col max-h-screen overflow-y-hidden p-4"
    :style="{ maxHeight: 'calc(100vh - 64px)' }"
  >
    <h1 class="text-2xl mb-4 font-bold">Pokemon List</h1>
    <app-pokemon-list
      class="flex flex-1 flex-col max-h-screen overflow-y-hidden"
      :load-detail="true"
    >
      <template #default>
        <div></div>
      </template>
    </app-pokemon-list>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'ListsPage',
  setup() {}
})
</script>
