<template>
  <div class="flex items-self-center flex-col gap-2 justify-between">
    <base-button
      v-if="pokemon.teamNames && pokemon.teamNames.includes(currentTeamName)"
      @click="() => removeFromTeam(pokemon.name)"
    >
      Remove from Team
    </base-button>
    <base-button v-else @click="() => addToTeam(pokemon.name)">
      Add to Team
    </base-button>
  </div>
</template>

<script lang="ts">
import { defineComponent, useStore, PropType } from '@nuxtjs/composition-api'

import type { PokemonStoreState, Pokemon } from 'types/pokemon'
import type { TeamStoreState } from '~/types/team'

type PropsType = {
  pokemon: Pokemon
  currentTeamName: string
}

export default defineComponent<PropsType>({
  name: 'PokemonListDefaultActionsComponent',
  props: {
    pokemon: {
      default: () => ({}),
      type: Object as PropType<Pokemon>
    },
    currentTeamName: {
      default: null,
      type: String || Number
    }
  },
  setup(props, context) {
    const store = useStore<PokemonStoreState & TeamStoreState>()
    const { currentTeamName } = props

    const addToTeam = (pokemonName: string): void => {
      const currentTeam = store.state.teams.teamList.find(
        (team) => team.name === currentTeamName
      )
      const currentPokemon = store.state.pokemon.pokemonList.find(
        (pokemon) => pokemon.name === pokemonName
      )
      const existingPokemonTeam = currentPokemon?.teamNames || []

      if (currentTeam?.pokemonIds.length === 6) {
        context.emit('error', 'This team already have 6 pokemon')
      } else {
        context.emit('error', '')
        const pokemonIds = currentTeam?.pokemonIds || []
        store.commit('pokemon/SET_POKEMON_TEAM', {
          teamNames: [...existingPokemonTeam, currentTeamName],
          name: pokemonName
        })
        store.commit('teams/UPDATE_POKEMON_IDS', {
          name: currentTeamName,
          pokemonIds: [...pokemonIds, pokemonName]
        })
      }
    }

    const removeFromTeam = (pokemonName: string): void => {
      const currentTeam = store.state.teams.teamList.find(
        (team) => team.name === currentTeamName
      )

      const currentPokemon = store.state.pokemon.pokemonList.find(
        (pokemon) => pokemon.name === pokemonName
      )
      const existingPokemonTeam = currentPokemon?.teamNames
        ? [...currentPokemon.teamNames]
        : []
      const newPokemonTeamName = existingPokemonTeam.filter(
        (teamName) => teamName !== currentTeamName
      )

      const pokemonIds = currentTeam?.pokemonIds
        ? [...currentTeam.pokemonIds]
        : []
      const newPokemonIds = pokemonIds.filter(
        (teamName) => teamName !== pokemonName
      )
      store.commit('pokemon/SET_POKEMON_TEAM', {
        teamNames: newPokemonTeamName,
        name: pokemonName
      })
      store.commit('teams/UPDATE_POKEMON_IDS', {
        name: currentTeamName,
        pokemonIds: newPokemonIds
      })
      context.emit('error', '')
    }

    return {
      addToTeam,
      removeFromTeam
    }
  }
})
</script>
