<template>
  <button
    v-bind="$attrs"
    :class="[
      'border',
      'rounded',
      'p-2',
      ...$attrs.class,
      {
        'hover:cursor-not-allowed': disabled,
        'opacity-50': disabled
      }
    ]"
    :name="name"
    :aria-disabled="disabled"
    :disabled="disabled"
    v-on="$listeners"
  >
    <slot />
  </button>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'BaseButtonComponent',
  props: {
    disabled: {
      default: false,
      type: Boolean
    },
    name: {
      default: '',
      type: String
    }
  }
})
</script>
